body {
  background-color: #090D16;
  color: #f1f5f9;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

/* Custom scrollbars for enterprise tables & drawers */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0F172A;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
